
.swiftpm/xcode/xcuserdata/xueyuejie.xcuserdatad/xcschemes/xcschememanagement.plist
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.swiftpm/xcode/package.xcworkspace/xcuserdata/xueyuejie.xcuserdatad/UserInterfaceState.xcuserstate
.swiftpm/xcode/xcuserdata/xueyuejie.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist